@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  /* Colors */

  /* Primary */

  --Blue-950: hsl(233, 26%, 24%);
  --Green-500: hsl(136, 64%, 51%);
  --Cyan-400: hsl(192, 69%, 51%);

  /* Neutral */

  --Gray-600: hsl(233, 8%, 62%);
  --Gray-100: hsl(220, 16%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);

  /* Backgrounds */
  --btn-bg: linear-gradient(
    to bottom left,
    hsl(136, 64%, 51%),
    hsl(192, 69%, 51%)
  );

  --btn-bg-hover: linear-gradient(
    to bottom left,
    hsl(136, 64%, 51%, 0.7),
    hsl(192, 69%, 51%, 0.7)
  );

  /* Typography */

  --body-font: 1.125rem;
  --font-p: 0.8rem;

  /* Font Family */

  --family: Public Sans, sans serif;

  /* Weights */
  --thin: 300;
  --medium: 400;
  --bold: 700;
}

/* Ganeral Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

/* * > *:focus {
  outline: 2px solid var(--Green-500);
  outline-offset: 5px;
} */

/* Styling */
body {
  height: 100dvh;
  font-family: var(--family);
  font-size: var(--body-font);
  background: var(--Gray-50);
  color: var(--Blue-950);
  overflow-x: hidden;
  line-height: 1.5;
}
/* /////////////////////////////////////////////////////////////////// */
.nav-cont {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 0 20px;
  height: 60px;
  z-index: 100;
  background: var(--White);
  box-shadow: 0px 0px 50px 30px hsl(192, 69%, 51%, 0.1);
}

.logo--img {
  max-width: 130px;
}

/* NAV LIST */
.nav--list {
  position: absolute;
  top: 70px;
  left: 50%;
  width: 280px;
  height: auto;
  padding: 30px 0;
  border-radius: 3px;
  background: var(--White);
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
  z-index: 10;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.nav--list-a {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.footer--list-a {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

ul a:link,
ul a:visited {
  color: var(--Blue-950);
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
}
ul a:hover,
ul a:active {
  color: var(--Green-500);
}

ul {
  list-style: none;
  text-align: center;
}

.nav--list-btns label {
  cursor: pointer;
  height: 100%;
}

.nav-close {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--Cyan-400);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 8;
}

.nav--btns {
  max-width: 25px;
}

#nav-toggle:checked ~ .nav--list-btns .nav-open {
  display: none;
}

#nav-toggle:checked ~ .nav--list-btns .nav-close {
  display: block;
}

#nav-toggle:checked ~ .nav--list {
  opacity: 1;
  transform: translate(-140px, 10px);
}

#nav-toggle:checked ~ .overlay {
  margin-top: 60px;
  opacity: 0.1;
  pointer-events: auto;
}

.nav-cont .btn-nav {
  display: none;
}

/* .sticky {
  position: sticky;
  top: 0px;
} */

/* /////////////////////////////////////////////////////////////////// */
/* HEADER */

.header {
  position: relative;
  display: flex;
  flex-direction: column;

  overflow-y: visible;
}

.heading {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-weight: var(--thin);
  margin: -30px auto 0;
}

.header-img {
  max-width: 100%;
  z-index: 1;
}

.header-img--mock {
  max-width: 90%;
  position: absolute;
  top: -50px;
  left: 15px;
  z-index: 1;
}

.header-h1 {
  font-size: clamp(1.125rem, 3vw + 1rem, 3rem);
  font-weight: var(--thin);
  line-height: 1.2;
}
.header-p {
  font-size: var(--font-p);
  font-weight: var(--thin);
  color: var(--Gray-600);
  font-size: clamp(0.71rem, 1vw + 0.5rem, 1rem);
}

.btn {
  display: block;
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  color: var(--White);
  cursor: pointer;
}

.cta-btn {
  background: var(--btn-bg);
  transition: background 0.3s ease;
  margin-bottom: 20px;
}
.cta-btn:hover {
  background: var(--btn-bg-hover);
}
/* ///////////////////////////////////////////////////////////// */
/* ABOUT SECTION */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: clamp(30px, 10vw, 80px);
  background: var(--Gray-100);
  color: var(--Gray-500);
  font-weight: var(--thin);
}

.about-h2 {
  font-size: clamp(1.125rem, 3vw + 1rem, 2.5rem);
  font-weight: var(--medium);
  margin-bottom: 15px;
  line-height: 1.2;
}

.about-p {
  font-size: var(--font-p);
  margin-bottom: 40px;
}

.about-info {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  flex: 1 1 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-heading {
  max-width: 480px;
}

.about-info--items img {
  max-width: 60px;
  margin-bottom: 10px;
}

.about-info--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  max-width: 260px;
  width: 100%;
}

.about-items--header {
  font-size: 1.3rem;
  font-weight: var(--medium);
}
.about-items--p {
  font-size: var(--font-p);
}

/* ///////////////////////////////////////////////////////// */
/* SECTION ARTICLE */

.articles {
  padding: clamp(30px, 10vw, 80px);
}

.articles-cont {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.article {
  width: 260px;
  border-radius: 5px;
  background: var(--White);
  transition: transform 0.3s ease;
}

.article:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.article-h1 {
  font-size: clamp(1.125rem, 3vw + 1rem, 2.5rem);
  text-align: center;
  font-weight: var(--medium);

  margin: 0px 30px 40px;
}

.article-img {
  max-width: 260px;
  object-fit: cover;
  aspect-ratio: 5 / 3;
  border-radius: 5px 5px 0 0;
}

.article div {
  padding: 12px 20px 20px;
}

figcaption {
  font-size: 0.5rem;
  padding: 20px 20px 0;
  font-weight: var(--thin);
}

.article-h2 {
  font-size: var(--font-p);
  font-weight: var(--bold);
  cursor: pointer;
}

.article-h2:hover {
  color: var(--Green-500);
}

.article-p {
  font-size: 0.71rem;
  font-weight: var(--thin);
  margin-top: 10px;
}
/* //////////////////////////////////////////////////////////// */
/* SECTION FOOTER */
.footer {
  background: var(--Blue-950);
  padding: 50px clamp(10vw, 50px, 10rem);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: var(--White);
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.social--media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.social--img {
  max-width: 17px;
}

.footer--links-cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer--links li a:link,
.footer--links li a:visited {
  color: var(--Gray-500);
  font-weight: var(--thin);
  font-size: var(--font-p);
}
.footer--links li a:hover,
.footer--links li a:active {
  color: var(--Green-500);
}

.cta-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copy-right {
  font-size: 0.71rem;
  font-weight: var(--thin);
  color: var(--Gray-600);
}

/* //////////////////////////////////////////////////////////// */
/* MEDIA QUERIES */
@media (min-width: 48em) {
  .nav-cont {
    justify-content: space-around;
    height: 80px;
    position: sticky;
    width: 100%;
    top: 0px;
  }

  .nav--list-btns,
  .nav-cont label {
    display: none;
  }
  .nav--list {
    position: static;
    opacity: 1;
    width: auto;
    transform: translateX(0);
    padding: 0;
  }

  .nav-cont .btn-nav {
    display: block;
    margin: 0;
  }
  .nav-ul {
    flex-direction: row;
    gap: 25px;
  }
  .nav--list-a a {
    display: flex;
    align-items: center;
    padding: 25px;
    height: 100%;
    position: relative;
    transition: color 0.3s ease;
  }

  .nav--list-a a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--btn-bg);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .nav--list-a a:hover::after {
    transform: scaleX(1);
  }
  .nav--list-a a:hover {
    color: var(--Gray-500);
  }

  .header-img--mock {
    max-width: 48%;
    position: absolute;
    top: -160px;
    left: 59%;
    z-index: 1;
  }
  .heading {
    text-align: left;
    align-items: flex-start;
    max-width: 550px;
    margin: 0;
    z-index: 5;
    height: 500px;
    padding-left: 8rem;
  }

  .header-bg-img {
    max-width: 65%;
    position: absolute;
    top: -180px;
    right: -140px;
  }

  .about-heading {
    margin: 0 auto 35px 35px;
  }
  .about-h2,
  .about-p {
    text-align: left;
  }
  .about-info--items {
    align-items: start;
    text-align: left;
  }
  .article-h1 {
    text-align: left;
  }

  .footer {
    flex-direction: row;
    gap: 100px;
  }
  .footer--links-cont {
    flex-direction: row;
    gap: 80px;
  }

  .cta-copy {
    margin-left: auto;
    align-items: end;
  }
}
